body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow: hidden;
    user-select: none;
}

#Bytes {
    font-size: 35px;
    text-align: center;
    color: black;
}

#Exp {
    width: 300px;
    height: 40px;
    padding-top: 10px;
    text-align: center;
    font-size: 22px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(22, 152, 152);
}

#Tier-1 {
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 150px;
    margin-top: 80px;
}

#txt {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 50px;
    margin-top: 130px;
    background-color: blue;
    width: 200px;
    height: 50px;
    padding-top: 10px;
}

#txt-number {
    padding-top: auto;
    padding-bottom: auto;
    margin-top: 10px;
}

#txt-effect {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 105px;
    margin-top: 20px;
}

#txt-timer-producer {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 200px;
    background-color: aqua;
    width: 65px;
    height: 40px;
    padding-top: 20px;
    padding-left: 10px;
}

.txt-milestone {
    width: 150px;
    height: 70px;
    padding-top: 10px;
    background-color: blue;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -90px;
    margin-left: 125px;
    border-radius: 20px;
    border: 3px solid black;
    visibility: hidden;
}

.show-txt-milestone {
    visibility: visible;
}

#txt-ms-name {
    font-size: 15px;
    text-align: center;
}

#txt-boost-requirment {
    width: 120px;
    height: 20px;
    padding-top: 5px;
    text-align: center;
    background-color: grey;
    margin-left: 15px;
}

#txt-booster {
    text-align: center;
    font-size: 13px;
}

#bat {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 50px;
    margin-top: 230px;
    background-color: red;
    width: 200px;
    height: 50px;
    padding-top: 10px;
}

#bat-number {
    padding-top: auto;
    padding-bottom: auto;
    margin-top: 10px;
}

#bat-effect {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 95px;
    margin-top: 20px;
}

#bat-timer-producer {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 200px;
    background-color: maroon;
    width: 65px;
    height: 40px;
    padding-top: 20px;
    padding-left: 10px;
}

.bat-milestone {
    width: 150px;
    height: 70px;
    padding-top: 10px;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -90px;
    margin-left: 125px;
    border-radius: 20px;
    border: 3px solid black;
    visibility: hidden;
}

.show-bat-milestone {
    visibility: visible;
}

#bat-ms-name {
    font-size: 15px;
    text-align: center;
}

#bat-boost-requirment {
    width: 120px;
    height: 20px;
    padding-top: 5px;
    text-align: center;
    background-color: grey;
    margin-left: 15px;
}

#bat-booster {
    text-align: center;
    font-size: 13px;
}

.Locked-bat {
    width: 275px;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 230px;
    margin-left: 50px;
    z-index: 1;
}

#dll {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 50px;
    margin-top: 330px;
    background-color: purple;
    width: 200px;
    height: 50px;
    padding-top: 10px;
}

#dll-number {
    padding-top: auto;
    padding-bottom: auto;
    margin-top: 10px;
}

#dll-effect {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 95px;
    margin-top: 20px;
}

#dll-timer-producer {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 200px;
    background-color: rgb(78, 5, 78);
    width: 65px;
    height: 40px;
    padding-top: 20px;
    padding-left: 10px;
}

.dll-milestone {
    width: 150px;
    height: 70px;
    padding-top: 10px;
    background-color: purple;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -90px;
    margin-left: 125px;
    border-radius: 20px;
    border: 3px solid black;
    visibility: hidden;
}

.show-dll-milestone {
    visibility: visible;
}

#dll-ms-name {
    font-size: 15px;
    text-align: center;
}

#dll-boost-requirment {
    width: 120px;
    height: 20px;
    padding-top: 5px;
    text-align: center;
    background-color: grey;
    margin-left: 15px;
}

#dll-booster {
    text-align: center;
    font-size: 13px;
}

.Locked-dll {
    width: 275px;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 330px;
    margin-left: 50px;
    z-index: 1;
}

#bpm {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 50px;
    margin-top: 430px;
    background-color: green;
    width: 200px;
    height: 50px;
    padding-top: 10px;
}

#bpm-number {
    padding-top: auto;
    padding-bottom: auto;
    margin-top: 10px;
}

#bpm-effect {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 95px;
    margin-top: 20px;
}

#bpm-timer-producer {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 200px;
    background-color: greenyellow;
    width: 65px;
    height: 40px;
    padding-top: 20px;
    padding-left: 10px;
}

.bpm-milestone {
    width: 150px;
    height: 70px;
    padding-top: 10px;
    background-color: green;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -90px;
    margin-left: 125px;
    border-radius: 20px;
    border: 3px solid black;
    visibility: hidden;
}

.show-bpm-milestone {
    visibility: visible;
}

#bpm-ms-name {
    font-size: 15px;
    text-align: center;
}

#bpm-boost-requirment {
    width: 120px;
    height: 20px;
    padding-top: 5px;
    text-align: center;
    background-color: grey;
    margin-left: 15px;
}

#bpm-booster {
    text-align: center;
    font-size: 13px;
}

.Locked-bpm {
    width: 275px;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 430px;
    margin-left: 50px;
    z-index: 1;
}

#pdf {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 50px;
    margin-top: 530px;
    background-color: black;
    width: 200px;
    height: 50px;
    padding-top: 10px;
    color: white;
}

#pdf-number {
    padding-top: auto;
    padding-bottom: auto;
    margin-top: 10px;
}

#pdf-effect {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 90px;
    margin-top: 20px;
}

#pdf-timer-producer {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 200px;
    background-color: grey;
    width: 65px;
    height: 40px;
    padding-top: 20px;
    padding-left: 10px;
}

.pdf-milestone {
    width: 150px;
    height: 70px;
    padding-top: 10px;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -90px;
    margin-left: 125px;
    border-radius: 20px;
    border: 3px solid grey;
    visibility: hidden;
}

.show-pdf-milestone {
    visibility: visible;
}

#pdf-ms-name {
    font-size: 15px;
    text-align: center;
}

#pdf-boost-requirment {
    width: 120px;
    height: 20px;
    padding-top: 5px;
    text-align: center;
    background-color: grey;
    margin-left: 15px;
}

#pdf-booster {
    text-align: center;
    font-size: 13px;
}

.Locked-pdf {
    width: 275px;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 530px;
    margin-left: 50px;
    z-index: 1;
}

#doc {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 50px;
    margin-top: 630px;
    background-color: orange;
    width: 200px;
    height: 50px;
    padding-top: 10px;
}

#doc-number {
    padding-top: auto;
    padding-bottom: auto;
    margin-top: 10px;
}

#doc-effect {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 90px;
    margin-top: 20px;
}

#doc-timer-producer {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 200px;
    background-color: orangered;
    width: 65px;
    height: 40px;
    padding-top: 20px;
    padding-left: 10px;
}

.doc-milestone {
    width: 150px;
    height: 70px;
    padding-top: 10px;
    background-color: orange;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -90px;
    margin-left: 125px;
    border-radius: 20px;
    border: 3px solid black;
    visibility: hidden;
}

.show-doc-milestone {
    visibility: visible;
}

#doc-ms-name {
    font-size: 15px;
    text-align: center;
}

#doc-boost-requirment {
    width: 120px;
    height: 20px;
    padding-top: 5px;
    text-align: center;
    background-color: grey;
    margin-left: 15px;
}

#doc-booster {
    text-align: center;
    font-size: 13px;
}

.Locked-doc {
    width: 275px;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 630px;
    margin-left: 50px;
    z-index: 1;
}

#Tier-2 {
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 450px;
    margin-top: 80px;
}

#png {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 350px;
    margin-top: 130px;
    background-color: yellowgreen;
    width: 200px;
    height: 50px;
    padding-top: 10px;
}

#png-number {
    padding-top: auto;
    padding-bottom: auto;
    margin-top: 10px;
}

#png-effect {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 105px;
    margin-top: 20px;
}

#png-timer-producer {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 200px;
    background-color: rgb(176, 208, 15);
    width: 65px;
    height: 40px;
    padding-top: 20px;
    padding-left: 10px;
}

.png-milestone {
    width: 150px;
    height: 70px;
    padding-top: 10px;
    background-color: yellowgreen;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -90px;
    margin-left: 125px;
    border-radius: 20px;
    border: 3px solid black;
    visibility: hidden;
}

.show-png-milestone {
    visibility: visible;
}

#png-ms-name {
    font-size: 15px;
    text-align: center;
}

#png-boost-requirment {
    width: 120px;
    height: 20px;
    padding-top: 5px;
    text-align: center;
    background-color: grey;
    margin-left: 15px;
}

#png-booster {
    text-align: center;
    font-size: 13px;
}

.Locked-png {
    width: 275px;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 130px;
    margin-left: 350px;
    z-index: 1;
}

#jpg {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 350px;
    margin-top: 230px;
    background-color: darkorange;
    width: 200px;
    height: 50px;
    padding-top: 10px;
}

#jpg-number {
    padding-top: auto;
    padding-bottom: auto;
    margin-top: 10px;
}

#jpg-effect {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 95px;
    margin-top: 20px;
}

#jpg-timer-producer {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 200px;
    background-color: rgb(62, 30, 4);
    width: 65px;
    height: 40px;
    padding-top: 20px;
    padding-left: 10px;
}

.jpg-milestone {
    width: 150px;
    height: 70px;
    padding-top: 10px;
    background-color: darkorange;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -90px;
    margin-left: 125px;
    border-radius: 20px;
    border: 3px solid black;
    visibility: hidden;
}

.show-jpg-milestone {
    visibility: visible;
}

#jpg-ms-name {
    font-size: 15px;
    text-align: center;
}

#jpg-boost-requirment {
    width: 120px;
    height: 20px;
    padding-top: 5px;
    text-align: center;
    background-color: grey;
    margin-left: 15px;
}

#jpg-booster {
    text-align: center;
    font-size: 13px;
}

.Locked-jpg {
    width: 275px;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 230px;
    margin-left: 350px;
    z-index: 1;
}

#psd {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 350px;
    margin-top: 330px;
    background-color: pink;
    width: 200px;
    height: 50px;
    padding-top: 10px;
}

#psd-number {
    padding-top: auto;
    padding-bottom: auto;
    margin-top: 10px;
}

#psd-effect {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 95px;
    margin-top: 20px;
}

#psd-timer-producer {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 200px;
    background-color: rgba(221, 32, 243, 0.484);
    width: 65px;
    height: 40px;
    padding-top: 20px;
    padding-left: 10px;
}

.psd-milestone {
    width: 150px;
    height: 70px;
    padding-top: 10px;
    background-color: pink;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -90px;
    margin-left: 125px;
    border-radius: 20px;
    border: 3px solid black;
    visibility: hidden;
}

.show-psd-milestone {
    visibility: visible;
}

#psd-ms-name {
    font-size: 15px;
    text-align: center;
}

#psd-boost-requirment {
    width: 120px;
    height: 20px;
    padding-top: 5px;
    text-align: center;
    background-color: grey;
    margin-left: 15px;
}

#psd-booster {
    text-align: center;
    font-size: 13px;
}

.Locked-psd {
    width: 275px;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 330px;
    margin-left: 350px;
    z-index: 1;
}

#ico {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 350px;
    margin-top: 430px;
    background-image: linear-gradient(90deg, lime, green);
    width: 200px;
    height: 50px;
    padding-top: 10px;
}

#ico-number {
    padding-top: auto;
    padding-bottom: auto;
    margin-top: 10px;
}

#ico-effect {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 95px;
    margin-top: 20px;
}

#ico-timer-producer {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 200px;
    background-image: linear-gradient(90deg,yellowgreen, rgba(15, 180, 15, 0.575));
    width: 65px;
    height: 40px;
    padding-top: 20px;
    padding-left: 10px;
}

.ico-milestone {
    width: 150px;
    height: 70px;
    padding-top: 10px;
    background-image: linear-gradient(90deg, lime, green);
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -90px;
    margin-left: 125px;
    border-radius: 20px;
    border: 3px solid black;
    visibility: hidden;
}

.show-ico-milestone {
    visibility: visible;
}

#ico-ms-name {
    font-size: 15px;
    text-align: center;
}

#ico-boost-requirment {
    width: 120px;
    height: 20px;
    padding-top: 5px;
    text-align: center;
    background-color: grey;
    margin-left: 15px;
}

#ico-booster {
    text-align: center;
    font-size: 13px;
}

.Locked-ico {
    width: 275px;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 430px;
    margin-left: 350px;
    z-index: 1;
}

#gif {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 350px;
    margin-top: 530px;
    background-image: linear-gradient(90deg, red, rgb(255, 0, 68));
    width: 200px;
    height: 50px;
    padding-top: 10px;
    color: white;
}

#gif-number {
    padding-top: auto;
    padding-bottom: auto;
    margin-top: 10px;
}

#gif-effect {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 85px;
    margin-top: 20px;
}

#gif-timer-producer {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 200px;
    background-image: linear-gradient(90deg, red, purple);
    width: 65px;
    height: 40px;
    padding-top: 20px;
    padding-left: 10px;
}

.gif-milestone {
    width: 150px;
    height: 70px;
    padding-top: 10px;
    background-image: linear-gradient(90deg, red, rgb(255, 0, 68));
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -90px;
    margin-left: 125px;
    border-radius: 20px;
    border: 3px solid black;
    visibility: hidden;
}

.show-gif-milestone {
    visibility: visible;
}

#gif-ms-name {
    font-size: 15px;
    text-align: center;
}

#gif-boost-requirment {
    width: 120px;
    height: 20px;
    padding-top: 5px;
    text-align: center;
    background-color: grey;
    margin-left: 15px;
}

#gif-booster {
    text-align: center;
    font-size: 13px;
}

.Locked-gif {
    width: 275px;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 530px;
    margin-left: 350px;
    z-index: 1;
}

#rar {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 350px;
    margin-top: 630px;
    background-image: linear-gradient(90deg, red, orange);
    width: 200px;
    height: 50px;
    padding-top: 10px;
}

#rar-number {
    padding-top: auto;
    padding-bottom: auto;
    margin-top: 10px;
}

#rar-effect {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 100px;
    margin-top: 20px;
}

#rar-timer-producer {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 200px;
    background-image: linear-gradient(90deg, orangered, yellowgreen);
    width: 65px;
    height: 40px;
    padding-top: 20px;
    padding-left: 10px;
}

.rar-milestone {
    width: 150px;
    height: 70px;
    padding-top: 10px;
    background-image: linear-gradient(90deg, red, orange);
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -90px;
    margin-left: 125px;
    border-radius: 20px;
    border: 3px solid black;
    visibility: hidden;
}

.show-rar-milestone {
    visibility: visible;
}

#rar-ms-name {
    font-size: 15px;
    text-align: center;
}

#rar-boost-requirment {
    width: 120px;
    height: 20px;
    padding-top: 5px;
    text-align: center;
    background-color: grey;
    margin-left: 15px;
}

#rar-booster {
    text-align: center;
    font-size: 13px;
}

.Locked-rar {
    width: 275px;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 630px;
    margin-left: 350px;
    z-index: 1;
}

#Tier-3 {
    font-size: 20px;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 750px;
    margin-top: 80px;
}

#zip {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 650px;
    margin-top: 130px;
    background-image: linear-gradient(90deg, purple, red);
    width: 200px;
    height: 50px;
    padding-top: 10px;
}

#zip-number {
    padding-top: auto;
    padding-bottom: auto;
    margin-top: 10px;
}

#zip-effect {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 95px;
    margin-top: 20px;
}

#zip-timer-producer {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 200px;
    background-color: rgba(81, 75, 75, 0.408);
    width: 65px;
    height: 40px;
    padding-top: 20px;
    padding-left: 10px;
}

.zip-milestone {
    width: 150px;
    height: 70px;
    padding-top: 10px;
    background-image: linear-gradient(90deg, purple, red);
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -90px;
    margin-left: 125px;
    border-radius: 20px;
    border: 3px solid black;
    visibility: hidden;
}

.show-zip-milestone {
    visibility: visible;
}

#zip-ms-name {
    font-size: 15px;
    text-align: center;
}

#zip-boost-requirment {
    width: 120px;
    height: 20px;
    padding-top: 5px;
    text-align: center;
    background-color: grey;
    margin-left: 15px;
}

#zip-booster {
    text-align: center;
    font-size: 13px;
}

.Locked-zip {
    width: 275px;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 130px;
    margin-left: 650px;
    z-index: 1;
}

#z7 {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 650px;
    margin-top: 230px;
    background-color: chartreuse;
    width: 200px;
    height: 50px;
    padding-top: 10px;
}

#z7-number {
    padding-top: auto;
    padding-bottom: auto;
    margin-top: 10px;
}

#z7-effect {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 85px;
    margin-top: 20px;
}

#z7-timer-producer {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 200px;
    background-color: rgb(120, 210, 30);
    width: 65px;
    height: 40px;
    padding-top: 20px;
    padding-left: 10px;
}

.z7-milestone {
    width: 150px;
    height: 70px;
    padding-top: 10px;
    background-color: chartreuse;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -90px;
    margin-left: 125px;
    border-radius: 20px;
    border: 3px solid black;
    visibility: hidden;
}

.show-z7-milestone {
    visibility: visible;
}

#z7-ms-name {
    font-size: 15px;
    text-align: center;
}

#z7-boost-requirment {
    width: 120px;
    height: 20px;
    padding-top: 5px;
    text-align: center;
    background-color: grey;
    margin-left: 15px;
}

#z7-booster {
    text-align: center;
    font-size: 13px;
}

.Locked-z7 {
    width: 275px;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 230px;
    margin-left: 650px;
    z-index: 1;
}

#exe {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 650px;
    margin-top: 330px;
    background-image: url(image/glitch\ image.png);
    width: 200px;
    height: 50px;
    padding-top: 10px;
    color: white;
}

#exe-number {
    padding-top: auto;
    padding-bottom: auto;
    margin-top: 10px;
}

#exe-effect {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 95px;
    margin-top: 20px;
}

#exe-timer-producer {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 200px;
    background-color: black;
    color: white;
    width: 65px;
    height: 40px;
    padding-top: 20px;
    padding-left: 10px;
}

.exe-milestone {
    width: 150px;
    height: 70px;
    padding-top: 10px;
    background-image: url(image/glitch\ image.png);
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -90px;
    margin-left: 125px;
    border-radius: 20px;
    border: 3px solid black;
    visibility: hidden;
}

.show-exe-milestone {
    visibility: visible;
}

#exe-ms-name {
    font-size: 15px;
    text-align: center;
}

#exe-boost-requirment {
    width: 120px;
    height: 20px;
    padding-top: 5px;
    text-align: center;
    background-color: grey;
    margin-left: 15px;
}

#exe-booster {
    text-align: center;
    font-size: 13px;
}

.Locked-exe {
    width: 275px;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 330px;
    margin-left: 650px;
    z-index: 1;
}

#scp {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 650px;
    margin-top: 430px;
    background-image: linear-gradient(90deg, grey, rgb(88, 84, 84));
    width: 200px;
    height: 50px;
    padding-top: 10px;
}

#scp-number {
    padding-top: auto;
    padding-bottom: auto;
    margin-top: 10px;
}

#scp-effect {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 95px;
    margin-top: 20px;
}

#scp-timer-producer {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 200px;
    background-image: linear-gradient(90deg, grey, rgb(43, 41, 41));
    width: 65px;
    height: 40px;
    padding-top: 20px;
    padding-left: 10px;
}

.scp-milestone {
    width: 150px;
    height: 70px;
    padding-top: 10px;
    background-image: linear-gradient(90deg, grey, rgb(88, 84, 84));
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -90px;
    margin-left: 125px;
    border-radius: 20px;
    border: 3px solid black;
    visibility: hidden;
}

.show-scp-milestone {
    visibility: visible;
}

#scp-ms-name {
    font-size: 15px;
    text-align: center;
}

#scp-boost-requirment {
    width: 120px;
    height: 20px;
    padding-top: 5px;
    text-align: center;
    background-color: grey;
    margin-left: 15px;
}

#scp-booster {
    text-align: center;
    font-size: 13px;
}

.Locked-scp {
    width: 275px;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 430px;
    margin-left: 650px;
    z-index: 1;
}

#File-666 {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 650px;
    margin-top: 530px;
    background-color: #7E0014;
    width: 200px;
    height: 50px;
    padding-top: 10px;
    color: white;
}

#File-666-number {
    padding-top: auto;
    padding-bottom: auto;
    margin-top: 10px;
}

#File-666-effect {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 80px;
    margin-top: 20px;
}

#File-666-timer-producer {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 200px;
    background-color: black;
    color: red;
    width: 65px;
    height: 40px;
    padding-top: 20px;
    padding-left: 10px;
}

.File-666-milestone {
    width: 150px;
    height: 70px;
    padding-top: 10px;
    background-color: black;
    color: red;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -90px;
    margin-left: 125px;
    border-radius: 20px;
    border: 3px solid black;
    visibility: hidden;
}

.show-File-666-milestone {
    visibility: visible;
}

#File-666-ms-name {
    font-size: 15px;
    text-align: center;
}

#File-666-boost-requirment {
    width: 120px;
    height: 20px;
    padding-top: 5px;
    text-align: center;
    background-color: grey;
    margin-left: 15px;
}

#File-666-booster {
    text-align: center;
    font-size: 13px;
}

.Locked-File-666 {
    width: 275px;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 530px;
    margin-left: 650px;
    z-index: 1;
}

#File-777 {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 650px;
    margin-top: 630px;
    background-color: rgb(68, 255, 0);
    width: 200px;
    height: 50px;
    padding-top: 10px;
}

#File-777-number {
    padding-top: auto;
    padding-bottom: auto;
    margin-top: 10px;
}

#File-777-effect {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 90px;
    margin-top: 20px;
}

#File-777-timer-producer {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 200px;
    background-color: lightgreen;
    width: 65px;
    height: 40px;
    padding-top: 20px;
    padding-left: 10px;
}

.File-777-milestone {
    width: 150px;
    height: 70px;
    padding-top: 10px;
    background-color: rgb(68, 255, 0);
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -90px;
    margin-left: 125px;
    border-radius: 20px;
    border: 3px solid black;
    visibility: hidden;
}

.show-File-777-milestone {
    visibility: visible;
}

#File-777-ms-name {
    font-size: 15px;
    text-align: center;
}

#File-777-boost-requirment {
    width: 120px;
    height: 20px;
    padding-top: 5px;
    text-align: center;
    background-color: grey;
    margin-left: 15px;
}

#File-777-booster {
    text-align: center;
    font-size: 13px;
}

.Locked-File-777 {
    width: 275px;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 630px;
    margin-left: 650px;
    z-index: 1;
}

#tabs {
    position: absolute; 
    top: 0;
    right: 0;
    margin-top: 100px;
    background-color: rgb(192, 191, 191);
    width: 200px;
    height: 700px;
}

#Chips-Tab {
    width: 200px;
    height: 30px;
    text-align: center;
    padding-top: 10px;
    background-color: lime;
}

#Chips-Tab:hover {
    background-color: rgb(13, 189, 13);
    cursor: pointer;
}

.Chips-content {
    width: 400px;
    height: 300px;
    background-color: lime;
    color: black;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 570px;
    margin-top: 200px;
    border-radius: 20px;
    border: 5px solid black;
    text-align: center;
    visibility: hidden;
}

.show-Chips-content {
    visibility: visible;
}

#Tab-Chips-name {
    font-size: 30px;
}

#Chips-effect {
    font-size: 20px;
}

#Chips-gain {
    width: 200px;
    height: 50px;
    padding-top: 10px;
    font-size: 18px;
    text-align: center;
    background-color: grey;
    border-radius: 20px;
    border: 4px solid black;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 100px;
    margin-left: 100px;
}

#Chips-gain:hover {
    background-color: rgb(177, 172, 172);
    cursor: pointer;
}

#Chips-shop-button {
    width: 250px;
    height: 40px;
    padding-top: 10px;
    font-size: 22px;
    text-align: center;
    background-color: rgb(12, 93, 12);
    border-radius: 20px;
    border: 4px solid black;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 190px;
    margin-left: 75px;
}

#Chips-shop-button:hover {
    background-color: rgba(13, 105, 13, 0.548);
    cursor: pointer;
}

#close-chips {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: red;
    width: 100px;
    height: 20px;
    padding-top: 3px;
    border-radius: 20px;
    border: 3px solid black;
    margin-bottom: 5px;
    margin-right: 10px;
}

#close-chips:hover {
    background-color: #9e0d0d;
    cursor: pointer;
}